@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Julie Hasz
   Date:     03.31.22
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

html {
	background-image: url("picture2.jpg");
	background-repeat: repeat-y;
}

body {
	font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
	background-color: lavender;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: rgb(255, 255, 224);
}


header {
    background: url("picture2.jpg") repeat;
	padding:0;  
	width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 4px;
    margin-top: 10px;
    text-align: center;
    border-radius: 25px;  	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 20px;
    color: purple;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: lavender;
    border-radius: 10px;
    color: deeppink;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;    
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: rgb(127,255,212);
    clear: both;
    color: wheat;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: purple;
    text-decoration: none;
}

footer a:visited {
    color: deeppink;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.headerimg {
	border: 4px solid teal; 
	border-radius: 30px;
	margin: 0 auto;
	padding: 0px; 
}

.cakeimg {
	border:2px solid aqua;
	padding: 2px;
}

.charlotteimg{
	border:5px dotted #FF1493;
	padding:1em;
	display: block;
    margin: 0 auto;
}

.moralesimg{
	border:3px solid black;
	padding:.5em;
}

.militaryimg{
	border:3px solid black;
	padding:.5em;
}

.fishtailimg{
    border:2px solid #FF1493;
	padding:.5em;
	display: block;
    margin: 0 auto;
    }
	
.lilyfirstimg{
    border:2px solid #FF1493;
	padding:.5em;
	display: block;
    margin: 0 auto;
    }
	
.batmanimg{
    border:2px solid black;
	padding:.5em;
	display: block;
    margin: 0 auto;
    }
	
.weddingcakeimg{
	padding:.5em;
	display: block;
    margin: 0 auto;
    }
	
.kristaimg{
	border: 2px solid #85C1E9;
	padding:.25em;
	display: block;
    margin: 0 auto;
    }
	
.zombieimg{
	border: 2px solid #FF5733;
	padding:.25em;
	display: block;
    margin: 0 auto;
    }
	
.pumpkinimg{
	border: 2px solid #FF5733;
	padding:.25em;
	display: block;
    margin: 0 auto;
    }
	
.ninjaturtleimg{
	border: 2px solid green;
	padding:.5em;
	display: block;
    margin: 0 auto;
    }